
    
<div class="card-columns m-3 mt-5">

  <!-- Remote Projects -->
  

  <!-- Local Projects -->

  <div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="/henrykrank/index.html" class="project card text-themed"><img id="henry-krank-img" class="card-img-top" src="/assets/img/work/titlecard-hk.png" alt="Henry Krank & Co" /><div class="card-body">
      <h5 id="henry-krank-name" class="card-title">Henry Krank & Co
      </h5>
      <p id="henry-krank-desc" class="card-text">Full breakdown and recap of my time at Henry Krank & Co, explore to discover the projects I've been involved with here.</p>
      <p id="henry-krank-tools" class="card-text"></p>
    </div>
  </a>

  <a href="/earlymusicdirect/index.html" class="project card text-themed"><img id="early-music-direct-img" class="card-img-top" src="/assets/img/work/titlecard-emd.png" alt="Early Music Direct" /><div class="card-body">
    <h5 id="henry-krank-name" class="card-title">Early Music Direct
    </h5>
    <p id="henry-krank-desc" class="card-text">Some of the tasks I was involved with helping out for Early Music Direct.</p>
    <p id="henry-krank-tools" class="card-text"></p>
  </div>
</a>
</div>



</div>

  </main>

  
  <!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Bootstrap JS CDN -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- Initialize all tooltips -->
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>

</html>